<!-- app/views/quizzes/new.html.erb -->
<h1>New Quiz</h1>

<%= form_for @quiz do |f| %>
  <%= f.label :which_grbas_letter %>
  <%= f.select :which_grbas_letter, ['G', 'R', 'B', 'A', 'S'] %>
  <% if @quiz.errors[:which_grbas_letter].any? %>
    <div class="error"><%= @quiz.errors[:which_grbas_letter].join(", ") %></div>
  <% end %>

  <%= f.label :difficulty %>
  <%= f.number_field :difficulty, in: 0..3 %>
  <% if @quiz.errors[:difficulty].any? %>
    <div class="error"><%= @quiz.errors[:difficulty].join(", ") %></div>
  <% end %>

  <%= f.label :num_questions, 'Number of Questions' %>
  <%= f.number_field :num_questions, in: 1..20 %>
  <% if @quiz.errors[:num_questions].any? %>
    <div class="error"><%= @quiz.errors[:num_questions].join(", ") %></div>
  <% end %>

  <%= f.submit "Create Quiz" %>
<% end %>
