<!-- app/views/quizzes/show.html.erb -->
<h1 class="mb-4">"<%= Quiz.translate_letter(@quiz.which_grbas_letter) %>" Quiz</h1>

<%= form_for @quiz, url: {action: "update"}, html: { class: 'needs-validation', novalidate: true } do |f| %>
  <% @quiz.responses.each_with_index do |response, index| %>
    <%= f.fields_for :responses, index: response.id do |response_fields| %>
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title">Question <%= index + 1 %></h2>
          <audio controls class="mb-3">
            <source src="<%= asset_path(response.sound.audio_file_path) %>" type="audio/wav">
            Your browser does not support the audio element.
          </audio>

          <div class="form-group">
            <%= response_fields.label :rating, "Rate the sound (0-3):", class: 'form-label' %>
            <%= response_fields.number_field :rating, in: 0..3, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= response_fields.label :reasoning, "Short explanation:", class: 'form-label' %>
            <%= response_fields.text_field :reasoning, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= f.submit "Submit Quiz", class: 'btn btn-grey btn-lg btn-block mt-3' %>
  <%= link_to 'Back', new_quiz_path %>
<% end %>

<style>
    .card {
        border-radius: 10px;
    }
    .card-body {
        padding: 20px;
    }
    .form-label {
        font-weight: bold;
    }
</style>
