<h1>Sign-in</h1>
<%= form_tag sessions_path, method: :post  do %>
  <%= fields_for :session do |form| %>
  <%= form.label :email, "Email" %>
  <%= form.text_field :email %>
  <%= form.label :password, "Password" %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation, "Confirm Password" %>
  <%= form.password_field :password_confirmation %>
  <%= submit_tag "Login" %>
    <% end %>
<% end %>
