<h1>Create A New User</h1>
<%= form_with model: @user do |form| %>
  <%= form.text_field :email %>
  <%= form.text_field :name %>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit %>
<% end %>