<h1>Your Quiz History</h1>

<% if @quiz_history.empty? %>
  <p>You have not taken any quizzes yet.</p>
<% else %>
  <ul>
    <% @quiz_history.each do |quiz| %>
      <li>
        <h2><%= quiz.which_grbas_letter %></h2> <!-- Replace with your actual quiz title attribute -->
        <p>Difficulty: <%= quiz.difficulty %></p>
        <p>Number of Questions: <%= quiz.num_questions %></p>
        <% quiz.responses.each do |response| %>
                <p>
                  Sound: <%= Sound.find_by_id(response.sound_id).db_file_name %>,
                  Rating: <%= response.rating %>,
                  Reasoning: <%= response.reasoning %>
                  Feedback: <%= response.feedback %>
                </p>
        <% end %>
        <!-- Add more quiz details here -->
      </li>
    <% end %>
  </ul>
<% end %>