<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav><h1>GRBAS: Simple Hearing Training</h1>
  <% if !@current_user %>
    <%= link_to 'Login', login_path %>
  <% else %>
    <%= link_to 'Logout', logout_url, method: :delete%>
<% end %>
  <%= link_to 'Create New User', new_user_path %>
  <%= link_to 'About', about_path %>
</nav>
<% flash.each do |msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<%= yield %>

</body>
</html>